.card-body{
    min-height: auto;
    max-height: max-content;
    text-align: left;
    overflow: auto;
}
.card-body{
    background-color: white;
    text-align: left;
}
.alert{
    margin-top: 10px;
}
.btn{
    margin-bottom: 10px;
}
.btnda{
    margin-left: 10px;
}